<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>Contacter-Nous</h4>
                    <div class="line-dec"></div>
                    <p>N'hésitez pas à nous contacter pour toute question ou pour planifier une visite de notre salle - nous sommes là pour vous aider à démarrer votre parcours de remise en forme !</p>
                    <div class="pop-button">
                        <h4>Envoyez-nous un message</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pop">
                    <span>✖</span>
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Votre Nom..." required>
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="Votre Email..." required>
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Votre message..." required></textarea>
                              </fieldset>
                            </div>
                            <div class="col-md-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="btn">Envoyer Message</button>
                              </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>