<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Soutien communautaire</h4>
                    <div class="line-dec"></div>
                    <p>Chez Fitness Club, notre objectif est d'aider chacun à se sentir bien dans son corps en offrant un environnement accueillant et des programmes adaptés à tous les niveaux de forme physique.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continuer la lecture</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Notre Équipe</h4>
                    <div class="line-dec"></div>
                    <p> En tant que partie intégrante de la communauté, nous organisons régulièrement des événements et des initiatives visant à promouvoir un mode de vie sain.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continuer la lecture</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Notre Mission </h4>
                    <div class="line-dec"></div>
                    <p>Notre équipe de coachs expérimentés est là pour vous guider et vous motiver à chaque séance, en vous offrant un soutien personnalisé pour maximiser vos résultats.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continuer la lecture</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>Nos Services</h4>
                    <div class="line-dec"></div>
                    <p>Nous proposons une variété d'équipements modernes et des cours motivants pour aider nos membres à atteindre leurs objectifs de remise en forme de manière amusante et efficace.</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">Continuer la lecture</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>