<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Le sport est une occasion de prendre soin de votre corps et de votre esprit, vous aidant à vous sentir plus fort, plus énergique et plus confiant dans votre vie quotidienne. ”</p>
                            <h4>George Rich</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Chaque séance d'entraînement est une étape vers une version meilleure et plus saine de vous-même. Chaque goutte de sueur vous rapproche de vos objectifs et vous rend plus fort mentalement et physiquement. ”</p>
                            <h4>John Henry</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Le sport est bien plus qu'une activité physique, c'est un investissement dans votre santé à long terme. Chaque mouvement que vous faites vous rapproche d'une vie plus équilibrée et plus épanouie. ”</p>
                            <h4>Danny Cute</h4>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Ressentez la satisfaction de repousser vos limites, de voir votre progression et de constater les résultats de votre travail acharné. Chaque pas que vous faites sur le tapis de course ou chaque répétition de poids vous rapproche d'une version plus forte et plus confiante de vous-même. ”</p>
                            <h4>Richard Beal</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>