<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>Fitness</em>Club</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">Accueil</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">À propos</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">Notre Salle</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">Contacter-Nous</a></li>
                    <li><a href="assets/public/pages-Seconnecter.html" class="login"><i class="fa fa-user"></i>Connexion</a></li>
                    <li><a href="assets/public/pages-Inscrire.html">S'inscrire</a></li>
                </ul>

                

            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2><em>Fitness</em> <span>Club</span><br> Salle de sport</h2>
            <p>Bienvenue au Fitness Club ! Venez découvrir un lieu convivial où vous pourrez atteindre vos objectifs de remise en forme en toute simplicité. Avec nos équipements modernes et nos coachs expérimentés, nous sommes là pour vous accompagner à chaque étape de votre parcours vers une vie plus saine et plus active.</p>
            <div class="primary-white-button">
                <a href="#" class="scroll-link" data-id="about">Let's Go</a>
            </div>
        </div>
    </div>
</div>