<section id="portfolio">
    <div class="content-wrapper">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>Notre Salle</h4>
                        <div class="line-dec"></div>
                        <p>Un lieu de bien-être et de dépassement de soi, où chacun trouve sa place pour atteindre ses objectifs de remise en forme et se sentir mieux dans son corps.</p>
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Musculation</span></li>
                                <li class="filter" data-filter="branding"><span>CrossFit</span></li>
                                <li class="filter" data-filter="graphic"><span>Yoga</span></li>
                                <li class="filter" data-filter="nature"><span>Cyclisme</span></li>
                                <li class="filter" data-filter="animation"><span>Entraînement HIIT
                                </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 project-item mix nature">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/diseno_gym_4-1.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_4-1.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix animation">
                                  <div class="thumb">
                                    <div class="image">
                                            <a href="assets/img/diseno_gym_8-1.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_8-1.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/diseno_gym_15-1.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_15-1.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic nature">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/assets/img/diseno_gym_6-1.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_6-1.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix branding">
                                  <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/diseno_gym_11-1.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_11-1.jpg"></a>
                                        </div>
                                  </div>
                                </div>
                                <div class="col-md-6 col-sm-6 project-item mix graphic animation">
                                    <div class="thumb">
                                        <div class="image">
                                            <a href="assets/img/diseno_gym_1-3.jpg" data-lightbox="image-1"><img src="assets/img/diseno_gym_1-3.jpg"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>
