<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>Notre Blog </h4>
                        <div class="line-dec"></div>
                        <p>Découvrez notre dernier article de blog où nous explorons les avantages du HIIT pour brûler les graisses et tonifier votre corps, vous donnant l'inspiration nécessaire pour atteindre vos objectifs de remise en forme et améliorer votre bien-être général.</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">Squats </a></li>
                            <li><a href="#tab2">Push-ups</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="assets/img/squat.webp" alt="">
                            <div class="text-content">
                                <h4>Squats </h4>
                                <p>Les squats sont un exercice polyvalent qui cible les muscles des jambes et des fessiers, renforçant ainsi la stabilité et améliorant la mobilité.</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="assets/img/pushup.jpg" alt="">
                            <div class="text-content">
                                <h4>Push-ups</h4>
                                <p>Les pompes sont un exercice efficace pour renforcer le haut du corps, y compris la poitrine, les épaules et les triceps, et peuvent être facilement adaptées à différents niveaux de forme physique.</p>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
